---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
import LeadForm from '../components/LeadForm.astro';
---

<Layout title="Buildnow | Smart Trading Solutions">
	<main class="space-y-16 mb-20">
		<HeroSection/>
		<Features/>
		<div class="bg-gray-50 dark:bg-gray-800/50">
			<Stats/>
		</div>
		<Testimonials/>
		<div class="bg-gray-50 dark:bg-gray-800/50">
			<CallToAction/>
		</div>
		<Blog/>
		<LeadForm />
	</main>
</Layout>